* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}



.scene-container {
  width: 100vw;
  height: 100vh;
}


#scene {
  width: 100vw;
  height: 100vh;
}
